.package {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 40px;
  padding: 60px 0 140px;
  &__inner {
    &-title {
      max-width: 866px;
      margin: 0 auto 90px;
      text-align: center;
      h3 {
        color: $black;
        span {
          color: #86868b;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 -14px 130px;
    }
    &-foot {
      text-align: center;
      h6 {
        color: $black;
        span {
          color: $gray;
        }
      }
    }
    .slick {
        &-track {
            display: flex !important;
            align-items: flex-start;
        }
        &-slide {
            height: unset !important;
        }
    }
  }
  &Item {
    padding: 60px 40px;
    background-color: #ecf2f5;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 0 14px;
    width: calc(33.3% - 28px);
    &__image {
      position: relative;
      padding-bottom: 80%;
      width: calc(100% + 80px);
      box-sizing: border-box;
      z-index: 1;
      margin: 0 -40px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    &__price {
      max-width: 340px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 30px 0 90px;
      h2 {
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 30px;
      }
      .button {
        width: 100%;
        max-width: 205px;
        box-sizing: border-box;
        justify-content: space-between;
      }
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 26px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
      &.sm {
        width: 22px;
        height: 17px;
      }
      img {
        width: 100%;
      }
    }
    &__foot {
      text-align: center;
      color: $gray;
      p {
        line-height: 180%;
      }
      .button {
        width: 100%;
        max-width: 205px;
        box-sizing: border-box;
        margin: 0 auto 30px;
        justify-content: space-between;

      }
    }
    ul {
      margin-bottom: 75px;
      li {
        background-color: $white;
        padding: 24px 60px 24px 30px;
        border-radius: 25px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        position: relative;
        &:last-child {
          margin: 0;
        }
        h6 {
          color: $black;
          span {
            display: block;
            color: $gray;
          }
          b {
            display: block;
            color: $main;
          }
        }
      }
    }
    h3 {
      position: relative;
      z-index: 2;
      @include ellipsis(2);
      span {
        display: block;
        color: $gray;
      }
    }
  }
}
// 1480px
@mixin package-xxxlg-xxxxlg {
  .package {
    padding: 60px 0 110px;
    &__inner {
        &-title {
            margin-bottom: 60px;
        }
        &-row {
            margin: 0 -10px 90px;
        }
    }
    &Item {
      padding: 50px 30px;
      margin: 0 10px;
      &__image {
        width: calc(100% + 60px);
        margin: 0 -30px;
      }
      &__icon {
        right: 20px;
      }
      &__price {
        padding: 20px 0 70px;
      }
      ul {
        margin-bottom: 50px;
        li {
          padding: 20px 50px 20px 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
// 1180px
@mixin package-xlg-xxlg {
  .package {
    padding: 50px 0 90px;
    &__inner {
        &-title {
            margin-bottom: 50px;
        }
        &-row {
            margin: 0 -8px 60px;
        }
    }
    &Item {
        padding: 40px 20px;
        margin: 0 8px;
        &__image {
          width: calc(100% + 40px);
          margin: 0 -20px;
        }
        &__icon {
          right: 18px;
          width: 25px;
          height: 25px;
          &.sm {
            width: 17px;
            height: 15px;
          }
        }
        &__price {
          padding: 10px 0 50px;
        }
        ul {
          margin-bottom: 35px;
          li {
            padding: 15px 40px 15px 15px;
            margin-bottom: 15px;
            border-radius: 15px;
          }
        }
      }
  }
}
// 1024px
@mixin package-lg-xlg {
  .package {
    &__inner {
        &-row {
            margin: 0 -12px 60px;
        }
    }
    &Item {
        padding: 50px 30px;
        margin: 0 12px;
        &__image {
          width: calc(100% + 60px);
          margin: 0 -30px;
        }
    }
  }
}
// 840px
@mixin package-md-lg {
  .package {
    margin: 0;
    padding: 40px 0 70px;
    &__inner {
        &-row {
            margin: 0 -8px 50px;
        }
    }
    &Item {
        padding: 40px 20px;
        margin: 0 8px;
        &__image {
          width: calc(100% + 40px);
          margin: 0 -20px;
        }
    }
  }
}
// 700px
@mixin package-sm-md {
  .package {
    &Item {
        padding: 50px 40px;
        &__image {
          width: calc(100% + 80px);
          margin: 0 -40px;
        }
    }
  }
}
// 540px
@mixin package-xsm-sm {
  .package {
    padding: 20px 0 60px;
    &__inner {
        &-title {
            margin-bottom: 35px;
        }
        &-row {
            margin-bottom: 35px;
        }
        .button {
            max-width: 180px;
        }
    }
    &Item {
        padding: 30px 24px;
        &__image {
          width: calc(100% + 48px);
          margin: 0 -24px;
        }
        &__price {
            padding: 10px 0 30px;
            p {
                margin-bottom: 20px;
            }
        }
    }
  }
}
