.nav {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-info {
      display: flex;
      margin-bottom: 32px;
      span {
        display: inline-block;
        margin: 0 12px;
      }
      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $black;
        &.uniq {
          color: $main;
        }
        img {
          width: 11px;
          height: 11px;
          margin-right: 16px;
        }
      }
    }
    &-links {
      display: flex;
      align-items: center;
      position: relative;
      & > a {
        transition: 0.2s ease;
        &:hover {
          background: $main;
          color: $white;
          border-color: $main;
        }
      }
    }
    &-link {
      display: flex;
      align-items: center;
      padding: 12px 28px;
      border-radius: 50px;
      box-sizing: border-box;
      border: 1px solid $black;
      font-size: 16px;
      line-height: 21px;
      font-weight: 400;
      margin-right: 26px;

      svg {
        width: 9.4px;
        height: 6.1px;
        margin-left: 16px;
      }
      &.uniq {
        background: $main;
        margin-right: 0;
        color: $white;
        &:hover {
          background: $black;
          border-color: $black;
        }
      }
    }
  }
}
.dropdown {
  margin-right: 26px;
  &.dis {
    display: none;
  }
  .nav__inner-link {
    margin: 0;
    cursor: pointer;
    @include transition;
    position: relative;
    // &::before {
    //   position: absolute;
    //   top: calc(100% + 12px);
    //   left: 50%;
    //   @include transformX;
    //   content: "";
    //   width: 50px;
    //   height: 40px;
    //   background: white;
    //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    // }
  }
  ul {
    box-shadow: 0px 3px 6px rgba($color: $black, $alpha: 0.16);
    border-radius: 20px;
    background: $white;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(33.3% - 20px);
      margin: 5px 10px;
    }
  }

  &__link {
    padding: 10px 18px;
    border-radius: 50px;
    white-space: nowrap;
    @include transition;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.1;
    border: 1px solid transparent;
    &.uniq {
      border: 1px solid $main;
      &:hover {
        color: $white;
        background-color: $main;
      }
    }
    &.gray {
      background: #efefef;
      border: 1px solid #efefef;
      &:hover {
        color: $white;
        background-color: $main;
      }
    }
    &:hover {
      color: $main;
      border-color: $main;
    }
  }
  &__inner {
    max-height: 0;
    overflow: hidden;
    @include transition;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 857px;
  }
  &:hover {
    .nav__inner-link {
      background: $main;
      color: $white;
      border-color: $main;
      &::before {
        opacity: 1;
      }
    }
    .dropdown__inner {
      top: 100%;
      padding-top: 32px;
      opacity: 1;
      max-height: 500px;
    }
  }
  &.col2 {
    .dropdown__inner {
      width: 575px;
    }
    ul {
      li {
        width: calc(50% - 20px);
      }
    }
  }
}
.burger {
  display: none;
  position: relative;
  width: 22px;
  height: 20px;
  cursor: pointer;
  &::before {
    top: 0%;
    width: 100%;
    height: 4px;
    background-color: $black;
    border-radius: 0.125rem;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    @include transformX;
  }
  span {
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: $black;
    border-radius: 0.125rem;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    @include transform;
  }
  &::after {
    bottom: 0%;
    width: 100%;
    height: 4px;
    background-color: $black;
    border-radius: 0.125rem;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    @include transformX;
  }
  &.active {
    &::before {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span {
      opacity: 0;
    }
    &::after {
      bottom: 50%;
      -webkit-transform: translate(-50%, 50%) rotate(-45deg);
      transform: translate(-50%, 50%) rotate(-45deg);
    }
  }
}
@mixin nav-xxxxlg-xxxxxlg {
  .nav {
    &__inner {
      &-info {
        margin-bottom: 20px;
      }

      &-link {
        margin-right: 18px;
      }
    }
  }
  .dropdown {
    margin-right: 16px;
  }
}
@mixin nav-xxxlg-xxxxlg {
  .nav {
    &__inner {
      &-link {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 24px;
      }
    }
  }
  .dropdown {
    &__link {
      font-size: 14px;
    }
  }
}
@mixin nav-lg-xlg {
  body {
    &.active {
      overflow: hidden;
    }
  }
  .nav {
    position: fixed;
    top: 95.03px;
    left: 0;
    width: 100%;
    height: calc(100% - 95.03px);
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
    @include transition;
    visibility: hidden;
    opacity: 0;
    &.active {
      visibility: visible;
      opacity: 1;

      .nav__inner {
        @include transformReset;
      }
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: unset;
      top: 0;
      @include transition;
      right: 0;
      width: 100%;
      max-width: 390px;
      padding: 0;
      z-index: 1;
      box-sizing: border-box;
      padding: 20px 20px 100px 20px;
      height: 100%;
      overflow-y: auto;
      background: $white;
      transform: translateX(100%);
      &::-webkit-scrollbar {
        display: none;
      }
      & {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      &-links {
        flex-direction: column;
      }
      &-info {
        order: 2;
        justify-content: center;
        margin: 30px 0 0 0;
      }
      &-link {
        border: 1px solid transparent;
        background: #f7f7f7;
        color: $black;
        justify-content: space-between;
        border-radius: 0;
        font-weight: 700;
        width: 100%;
        margin: 0 0 16px 0;
        border-radius: 25px;
      }
    }
  }
  .dropdown {
    margin: 0 0 16px 0;
    &__link {
      width: 100%;
      padding: 12px 16px;
    }
    &:hover {
      .dropdown__inner {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
      }
    }
    .nav__inner-link {
      border: 1px solid transparent !important;
      background: #f7f7f7 !important;
      color: $black !important;
      justify-content: space-between;
      border-radius: 0;
      font-weight: 700;
      border-radius: 25px;
      &.active {
        background: $main !important;
        color: $white !important;
      }
    }
    &__inner {
      position: static !important;
      width: 100% !important;
      padding: 0 !important;
      &.active {
        max-height: unset !important;
        opacity: 1 !important;
        padding: 20px 0 10px !important;
      }
    }
    ul {
      margin: 0 !important;
      box-shadow: unset;
      padding: 0 !important;
      li {
        width: 100% !important;
        margin: 0 0 10px 0;
        &:last-child {
          margin: 0 !important;
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
  .body.active {
    overflow: hidden;
  }
  .burger {
    display: block;
  }
}
// nav start

// nav end
@mixin nav-xsm-sm {
  .nav {
    top: 85.63px;
    height: calc(100% - 85.63px);
    &__inner {
      max-width: unset;
    }
  }
  .dropdown {
    &__link {
      font-size: 13px;
    }
  }
}
